@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: #0a0908;
    font-family: 'Roboto', sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1{

    font-size: 50px;
    color: #c0fdff;
    font-weight: bolder;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    color: #2ec4b6;
}
.count-e{
    text-align: center;
}
.count-e span{
    font-size: 1rem;
    color: #b8f2e6;
}
